# Dart
.dart_tool/
*.iml
*.lock

# Flutter
/flutter/
.packages
.pub-cache/
.pub/
build/

# Android
/android/.gradle/
/android/local.properties
/android/captures/
/android/app/.cxx/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Flutter (generated locally by flutter tool)
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/
